body{
  font-family: 'Noto Sans', sans-serif;
}
.container{
  margin: 10px 0 0 25px;
  display: flex;
}
.contacts-pane{
  width: 15%;
  text-align: center;
  overflow-x: hidden;
}
.pane-heading{
  padding: 10px 0;
  font-weight: bold;
}
.contact{
  padding:10px 30px;
  border: 1px solid rgba(0,0,0,0.2);
  cursor: pointer;
}
.view-details{
  width: 40%;
  margin:20px 0 0 5%;
}
.details-header{
  display: flex;
  justify-content: space-between;
}
.details-heading{
  padding-left: 50px;
  overflow-x: hidden;
  font-size: 40px;
}
 .details-options{
   display: flex;
   margin-top: 20px;
   justify-content: space-around;
 }
.details-option{
  padding: 0 10px;
  cursor: pointer;
  height: 20px;
  border-style: none;
}
.table{
  display: table;
  padding: 20px;
}
.tr{
  display: table-row;

}
.td{
  display: table-cell;
  vertical-align: middle;
  padding: 5px;
}
